name: Build and Test

on:
  push:
    branches: [ main, master ]
  pull_request:
    branches: [ main, master ]

jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
        include:
          - os: ubuntu-latest
            swt-artifact: org.eclipse.swt.gtk.linux.x86_64
          - os: windows-latest
            swt-artifact: org.eclipse.swt.win32.win32.x86_64
          - os: macos-latest
            swt-artifact: org.eclipse.swt.cocoa.macosx.x86_64

    runs-on: ${{ matrix.os }}

    steps:
    - uses: actions/checkout@v4

    - name: Set up JDK 8
      uses: actions/setup-java@v4
      with:
        java-version: '8'
        distribution: 'temurin'
        cache: maven

    - name: Build with Maven
      run: mvn -B compile --file pom.xml

    - name: Run tests
      run: mvn -B test --file pom.xml

    - name: Package
      run: mvn -B package -DskipTests --file pom.xml

    - name: Upload artifact
      uses: actions/upload-artifact@v4
      with:
        name: badpeggy-${{ matrix.os }}
        path: target/*.jar
        retention-days: 30
